.majorContainer{
    min-height:87vh;
    padding-bottom: 50px;
}
.headerContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;

}
.headerContainer h1{
    font-size: 140px;
    font-weight: 600;
    margin-left: -180px;
    line-height: 140px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.1);
    user-select: none;
}
.headerContainer h2{
    font-size: 53px;
    font-weight: 600;
    position: absolute;
    margin-top: 36px;
    margin-left: 80px;
}
.cardContainer{
    width:100%;
    min-height:240px;
    margin-top: 110px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:40px;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 49px;
    height:220px;
    width:220px;
    gap:20px;
    background-color: rgba(147, 252, 19, 0.692);
    color: rgba(0, 0, 0, 0.616);
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    transition-duration: 0.3s;
}
.card svg{
    font-size: 38px;
    color: rgba(0, 0, 0, 0.616);
}

.card:hover{
    transform: scale(1.1);
    background-color: rgba(147, 252, 19, 1);
    cursor: pointer;
}

@media screen and (max-width:930px){
    .headerContainer h1{
        font-size: 100px;
        margin-left: -90px;
    }
    .headerContainer h2{
        font-size: 40px;
        margin-top: 43px;
        margin-left: 60px;
    }
}

@media screen and (max-width:500px){
    .headerContainer{
        align-items: flex-start;
    }
    .headerContainer h1{
        font-size: 100px;
        margin-left: -130px;
    }
    .headerContainer h2{
        font-size: 40px;
        margin-top: 43px;
        margin-left: 30px;
    }
}