.majorContainer {
  height: calc(100vh - 65px);
  padding-top: 65px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
  overflow-x: hidden;
}
.heading {
  height: 52px;
  width: 70%;
}
.heading div {
  display: inline-block;
}
.word {
  float: left;
}
.word p {
  font-size: 35px;
  font-weight: 600;
}
.line {
  float: left;
  width: 74%;
  height: 4px;
  margin-top: 24px;
  margin-left: 16px;
  background-color: rgba(0, 0, 0, 0.74);
  border-radius: 5px;
}

.fancyWords {
  height: 110px;
}
.backLine {
  font-size: 140px;
  line-height: 110px;
  font-weight: 600;
  margin-left: -160px;
  color: rgba(0, 0, 0, 0.1);
  user-select: none;
}
.frontLine {
  font-size: 41px;
  font-weight: 600;
  margin-top: -85px;
  user-select: none;
}
.frontLine1 {
  display: none;
}
.work {
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.buttonContainer {
  margin-top: 40px;
}
.buttonContainer a {
  text-decoration: none;
  padding: 4px 12px;
  margin-right: 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  border: 2px solid #94fc13;
}

#km {
  color: #fff;
  background-color: #94fc13;
}
#km:hover {
  color: rgba(0, 0, 0, 0.705);
  background-color: #fff;
  transition-duration: 0.4s;
}
#res {
  color: rgba(0, 0, 0, 0.705);
  padding: 4px 34px;
  background-color: #fff;
}
#res:hover {
  color: #fff;
  background-color: #94fc13;
  transition-duration: 0.4s;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgContainer img {
  width: 55%;
}

@media screen and (max-width: 1191px) {
  .heading {
    width: 90%;
  }
  .line {
    width: 75%;
  }

  .imgContainer img {
    width: 73%;
  }
}

@media screen and (max-width: 971px) {
  .word p {
    font-size: 30px;
  }
  .line {
    margin-top: 20px;
  }
  .backLine {
    font-size: 120px;
  }
  .frontLine {
    font-size: 35px;
  }
  .work {
    font-size: 25px;
  }
}

@media screen and (max-width: 847px) {
  .line {
    width: 73%;
  }
  .fancyWords {
    height: 90px;
    margin: 5px 0px;
  }
  .backLine {
    font-size: 90px;
    line-height: 90px;
    margin-left: -80px;
  }
  .frontLine {
    font-size: 30px;
    margin-top: -70px;
  }
  .work {
    font-size: 22px;
  }
}

@media screen and (max-width: 800px) {
  .majorContainer {
    grid-template-columns: 100%;
  }
  .imgContainer {
    display: none;
  }

  .backLine {
    margin-left: -80px;
  }
  .word p {
    font-size: 35px;
  }
  .line {
    margin-top: 24px;
  }
  .fancyWords {
    margin: 19px 0px;
  }
  .backLine {
    font-size: 150px;
  }
  .frontLine {
    font-size: 45px;
  }
  .work {
    font-size: 30px;
  }
  .buttonContainer {
    margin-top: 60px;
  }
}

@media screen and (max-width: 724px) {
  .majorContainer {
    height: calc(100vh - 55px);
  }
}

@media screen and (max-width: 700px) {
  .frontLine {
    display: none;
  }
  .line {
    width: 70%;
  }
  .fancyWords {
    height: 190px;
    margin: 4px 0px;
  }
  .backLine {
    font-size: 200px;
    margin-left: -190px;
    line-height: 190px;
  }
  .frontLine1 {
    display: block;
    font-size: 41px;
    font-weight: 600;
    margin-top: -155px;
    line-height: 60px;
  }
  .work {
    font-size: 27px;
  }
  .buttonContainer a {
    font-size: 22px;
  }
}

@media screen and (max-width: 546px) {
  .introContainer {
    padding-left: 6%;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    width: 95%;
  }
  .introContainer {
    padding-left: 5%;
  }
  .word p {
    font-size: 7vw;
  }
  .line {
    height: 0.7vw;
    width: 67%;
    margin-top: 4.8vw;
  }
  .fancyWords {
    height: 42vw;
    margin: 0px 0px;
  }
  .backLine {
    font-size: 40vw;
    margin-left: -150px;
    line-height: 40vw;
  }
  .frontLine1 {
    display: block;
    font-size: 8vw;
    font-weight: 600;
    margin-top: -29vw;
    line-height: 10.5vw;
  }
  .work {
    font-size: 5.4vw;
  }
}

@media screen and (max-width: 435px) {
  .buttonContainer a {
    display: block;
    text-align: center;
    padding: 4px 12px;
    width: 70%;
    margin-bottom: 20px;
  }
  #res {
    padding: 4px 12px;
  }
}
